header.bg-light
	.k-menu-bar.container
		#logo.mr-auto
		#language
		button.k-button-toggle.navbar-toggler(k-toggle-for='#demoResAllInOneMenu') MENU
	#demoResAllInOneMenu.container.k-responsive-menu
		.k-menu-bar
			.k-logo.navbar-brand.mr-auto
				img.iconmenu(src="../img/logo.png", alt="")
			button.k-button-toggle.navbar-toggler(k-toggle-for='#demoResAllInOneMenu') MENU
		.k-logo.navbar-brand.mr-auto(k-menu-map-to='#logo')
			a(href="#")
				img.img-fluid(src="../img/logo1.png", alt="") 
		ul.nav.nav-of
			li.nav-item
				a.nav-links(href='#') OUR PROPERTIES
			li.nav-item
				a.nav-links(href='#') LE COLLECCIONIST EXPERIENCE
			li.nav-item
				a.nav-links(href='#h') THE NOTEBOOK
		ul.nav.language(k-menu-map-to='#language')
			li.nav-item
				a.nav-link(href='#') SIGN UP
			li.nav-item
				a.nav-link(href='#') LOGIN
//- header.canhcam-header-2
//- 	.hidden
//- 	.container
//- 		.k-responsive-menu
//- 			a.navbar-brand(href="#").mr-auto 
//- 				img(src="../img/logo2.png", alt="")
//- 			button.navbar-toggler.ml-3(type='button', data-toggle='collapse', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
//- 				span.fa.fa-bars
//- 		#CCMenuHeader.collapse.navbar-collapse
//- 			ul.navbar-nav.ml-auto.mt-2.mt-lg-0.menu
//- 				li.nav-item.active
//- 					a.nav-link(href='#') Dự án
//- 				li.nav-item
//- 					a.nav-link(href='#') Mua
//- 				li.nav-item
//- 					a.nav-link(href='#') Thuê
//- 				li.nav-item
//- 					a.nav-link(href='#') Tin tức

//- 	//- nav.navbar.navbar-expand-lg.container
//- 	//- 	a.navbar-brand(href='#')
//- 	//- 		img(src="./img/logo.png", alt="Logo")
//- 	//- 	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
//- 	//- 		span.fa.fa-bars
//- 	//- 	#CCMenuHeader.collapse.navbar-collapse
//- 	//- 		ul.navbar-nav.mr-auto.mt-2.mt-lg-0
//- 	//- 			li.nav-item.active
//- 	//- 				a.nav-link(href='#')
//- 	//- 					| Home
//- 	//- 					span.sr-only (current)
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') Shop
//- 	//- 			li.nav-item.dropdown
//- 	//- 				a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
//- 	//- 					| Dropdown
//- 	//- 				.dropdown-menu(aria-labelledby='navbarDropdown')
//- 	//- 					a.dropdown-item(href='#') Action
//- 	//- 					a.dropdown-item(href='#') Another action
//- 	//- 					.dropdown-divider
//- 	//- 					a.dropdown-item(href='#') Something else here
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') About
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') Contact
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') Maps
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') About
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') Contact
//- 	//- 			li.nav-item
//- 	//- 				a.nav-link(href='#') Maps

//- 	//- 		form.form-inline.my-2.my-lg-0.search
//- 	//- 			.input-group
//- 	//- 				input.form-control(type='text', placeholder="Search", aria-label="Search", aria-describedby='basic-addon2')
//- 	//- 				.input-group-append
//- 	//- 					button.btn.btn-primary.searchbtn(type='button')
//- 	//- 						i.fa.fa-search
