section.canhcam-testimonials-1
	.container
		.row 
			.col-lg-4
				a.title(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-etc EXPANDSSPRING 2017  COLLECTION
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit architecto labore corrupti ad debitis nobis totam facilis! Aspernatur dolores recusandae ea iste.

			.col-lg-4
				a.title(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-ANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem ipsum dodipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit labore corrupti ad debitis nobis totam facilis! Aspernatur dolores recusandae ea iste.
			.col-lg-4
				a.title(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit architte.

		.row
			.col
				.testimonial-slider.owl-carousel
					figure.item
						img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
						figcaption
							blockquote
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
							.author
								h5.mt-4
									| Pelican Steve
									span LittleSnippets
					figure.item
						img(src='./img/user/avatar-large-2.jpg', alt='sq-sample10')
						figcaption
							blockquote
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
							.author
								h5.mt-4
									| Pelican Steve
									span LittleSnippets
