section.canhcam-banner-1
	article.list-items
		.item(bg-img="./img/slider/csongor-schmutc-356572-unsplash.jpg")
			.container 
				.row
					.col-12.title.owl-carousel.owl-theme
						h1 C
							span O
							|MPREHENSIVE REPAIRS.
							br
							| FR
							span O
							| M F
							span O
							| UNDATI
							span O
							| NS 
							br 
							| T
							span O 
							| THE R
							span OO
							| F.
						h1 C
							span O
							|MPREHENSIVE REPAIRS.
							br
							| FR
							span O
							| M F
							span O
							| UNDATI
							span O
							| NS 
							br 
							| T
							span O 
							| THE R
							span OO
							| F.
						h1 C
							span O
							|MPREHENSIVE REPAIRS.
							br
							| FR
							span O
							| M F
							span O
							| UNDATI
							span O
							| NS 
							br 
							| T
							span O 
							| THE R
							span OO
							| F.
		//- .item(bg-img="./img/slider/slider-1.png")
		//- 	.title
		//- 		h1.h1 Main title
		//- 		p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
		//- 		p
		//- 			a.btn.btn-primary.btn-lg(href="#") Read more
