footer.canhcam-footer-1
	.container 
		.row.item.no-gutters
			.col-lg-8
				.row
					.col
						figure
							.box-img
								img(src="../img/logo1.png", alt="")
							figcaption
								.icon
									i.fab.fa-facebook-f
									i.fab.fa-instagram
									i.fab.fa-twitter
				.row
					.list
						ul.mt-2.mt-lg-0.list-unstyled
							li.nav-item
								a.nav-link(href='#') HOME
							li.nav-item
								a.nav-link(href='#') ABOUT US
							li.nav-item
								a.nav-link(href='#') SERVICES
							li.nav-item
								a.nav-link(href='#') PORTFOLIO
							li.nav-item
								a.nav-link(href='#') CONTACT US
			.col-lg-4
				.map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7906802235607!2d106.680485643077!3d10.827324676407843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528fc1badca7b%3A0x23591e6914e01ff6!2zVHJ1bmcgdMOibSDEkcOgbyB04bqhbyB0aeG6v25nIGFuaCAtIFRzdXMuY29tLnZu!5e0!3m2!1svi!2s!4v1540014089186" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>



















	//- .linkfooter
	//- 	.container
	//- 		.row
	//- 			.col-md-4.col-lg-3
	//- 				.row
	//- 					.col.col-md-12
	//- 						h4 Product
	//- 						nav.list-group
	//- 							.list-group-item
	//- 								a(href="#") Textile
	//- 							.list-group-item
	//- 								a(href="#") Caps
	//- 							.list-group-item
	//- 								a(href="#") Golf Bags
	//- 					.col.col-md-12
	//- 						h4.mt-md-5 Product
	//- 						nav.list-group
	//- 							.list-group-item
	//- 								a(href="#") Textile
	//- 							.list-group-item
	//- 								a(href="#") Caps
	//- 							.list-group-item
	//- 								a(href="#") Golf Bags
	//- 							.list-group-item
	//- 								a(href="#") Luggage
	//- 			.col-md-8.col-lg-6
	//- 				.row
	//- 					.col
	//- 						h4.mt-5.mt-md-0 Product
	//- 						nav.list-group
	//- 							.list-group-item
	//- 								a(href="#") Textile
	//- 							.list-group-item
	//- 								a(href="#") Caps
	//- 							.list-group-item
	//- 								a(href="#") Golf Bags
	//- 							.list-group-item
	//- 								a(href="#") Luggage
	//- 							.list-group-item
	//- 								a(href="#") Accessories
	//- 							.list-group-item
	//- 								a(href="#") Golf Towels
	//- 							.list-group-item
	//- 								a(href="#") Golf Balls
	//- 							.list-group-item
	//- 								a(href="#") Signage
	//- 							.list-group-item
	//- 								a(href="#") Object Of Art - Tropies
	//- 					.col
	//- 						h4.mt-5.mt-md-0 Product
	//- 						nav.list-group
	//- 							.list-group-item
	//- 								a(href="#") Textile
	//- 							.list-group-item
	//- 								a(href="#") Caps
	//- 							.list-group-item
	//- 								a(href="#") Golf Bags
	//- 							.list-group-item
	//- 								a(href="#") Luggage
	//- 							.list-group-item
	//- 								a(href="#") Accessories
	//- 							.list-group-item
	//- 								a(href="#") Golf Towels
	//- 							.list-group-item
	//- 								a(href="#") Golf Balls
	//- 							.list-group-item
	//- 								a(href="#") Signage
	//- 							.list-group-item
	//- 								a(href="#") Object Of Art - Tropies
	//- 			.col-md-12.col-lg-3
	//- 				.socials
	//- 					h4.text-center.text-lg-left.mt-5.mt-lg-0 Address
	//- 					.text-center.text-lg-left
	//- 						p Le Thi Rieng, Ben Thanh Ward, Dis.1
	//- 							| TEL: +33 (0) 00000000000
	//- 							| +33 (0) 000000000
	//- 							| Email: admin@canhcam.com
	//- 					.social-list
	//- 						ul.list-inline.text-center.text-lg-left
	//- 							li.list-inline-item
	//- 								a(href='https://www.linkedin.com/baonguyenyam', target='_blank')
	//- 									i.fab.fa-linkedin(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
	//- 							li.list-inline-item
	//- 								a(href='https://www.facebook.com/baonguyenyam', target='_blank')
	//- 									i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
	//- 							li.list-inline-item
	//- 								a(href='https://www.twitter.com/baonguyenyam', target='_blank')
	//- 									i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
	//- 							li.list-inline-item
	//- 								a(href='https://www.google.com/+baonguyenyam', target='_blank')
	//- 									i.fab.fa-google(ga-action-click='', data-value='Google', data-label='Google', data-action='Google')

	//- .copyright
	//- 	.container-fluid
	//- 		.row
	//- 			.col.text-center
	//- 				p.mb-0 2018 by Canh Cam. All right reserved. designed by Canh Cam
