extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/banner/b-1/index.pug
	//- include ../lib/nav/n-5/index.pug
	include ../lib/boxes/b-7/index.pug
	include ../lib/boxes/b-8/index.pug
	include ../lib/boxes/b-9/index.pug
	include ../lib/testimonials/t-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
