section.canhcam-boxes-9
	.container
		.row.item
			.col-12
				.conten.text-center
					span HOW WE WORD ?
					H2 ALWAYS 
						span HONEST RULES 
						| OF COOPERATION 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						br 
						| Exercitationem officia repellat esse illo aliquid 
	.container
		.row.title
			.col-12.col-sm-6.col-md-4.col-lg
				.fun
					.__text
						i.fas.fa-clipboard-list 
							span 1
						p.mb-0 VULUATION
							br 
							| AND SIGNING 
							br 
							|OF THE CONTRACT
			.col-12.col-sm-6.col-md-4.col-lg
				.fun
					.__text
						i.fas.fa-clipboard-list 
							span 2
						p.mb-0 VULUATION
							br 
							| AND SIGNING 
							br 
							|OF THE CONTRACT
			.col-12.col-sm-6.col-md-4.col-lg.mt-5.mt-md-0
				.fun
					.__text
						i.fas.fa-clipboard-list 
							span 3
						p.mb-0 VULUATION
							br 
							| AND SIGNING 
							br 
							|OF THE CONTRACT
			.col-12.col-sm-6.col-md-6.mt-5.mt-lg-0.col-lg
				.fun
					.__text
						i.fas.fa-clipboard-list 
							span 4
						p.mb-0 VULUATION
							br 
							| AND SIGNING 
							br 
							|OF THE CONTRACT
			.col-12.col-sm-6.col-md-6.mt-5.mt-lg-0.col-lg
				.fun
					.__text
						i.fas.fa-clipboard-list 
							span 5
						p.mb-0 VULUATION
							br 
							| AND SIGNING 
							br 
							|OF THE CONTRACT
		.row.mt-4.text-center.button 
			.col
				a.btn.btn-primary(href="#") READ MORE
