section.canhcam-boxes-7
	.container.up
		.row.no-gutters
			.col-12.col-lg-5
				figure
					.box-img
						img(src="../img/slider/slider-big-1.jpg", alt="")
					figcaption
						p.mb-0.mt-3.mt-lg-0 LAST PROJECT
						.text
							h3.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem 
							.buttom.mt-3.mt-lg-0
								a(href="#") 
									i.fas.fa-chevron-right
			.col-sm-12.col-md.mt-3.mt-md-0.ml-md-0.ml-lg-3
				.title
					i.fas.fa-school
					h3.mb-0 CONSTRUCTION 
						br 
						| WORKS
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quidem omnis cupiditate quo
					.buttom.mt-3.mt-lg-0
						a(href="#") 
							i.fas.fa-chevron-right
			.col-sm-12.col-md.mt-3.mt-md-0.ml-md-3
				.title.last
					i.fas.fa-school
					h3.mb-0 CONSTRUCTION 
						br 
						| WORKS
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quidem omnis cupiditate quo
					.buttom.mt-3.mt-lg-0
						a(href="#") 
							i.fas.fa-chevron-right
			.col-sm-12.col-md.mt-3.mt-md-0.ml-md-3
				.title.last1
					i.fas.fa-school
					h3.mb-0 CONSTRUCTION 
						br 
						| WORKS
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quidem omnis cupiditate quo
					.buttom.mt-3.mt-lg-0
						a(href="#") 
							i.fas.fa-chevron-right
