section.canhcam-boxes-8
	.container
		.row
			.col-12.col-lg-4.title
				span ABOUT US
				h2.mt-2 OVER 
					span 30 YEARS 
					br 
					| OF EXPERIENCE 
					br 
					| GAINED
				h3.mt-3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptates maiores possimus ad blanditiis, corporis omnis nemo ullam exercitationem
				p.mt-3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid deleniti modi porro molestias accusantium voluptate exercitationem doloribus sequi eum, possimus iusto expedita dicta! Aspernatur temporibus hic ducimus soluta aut?
				p.mt-2Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				.button.mt-5
					a.btn.btn-primary(href="#") READ MORE
			.col-12.col-lg-8.mt-5.mt-md-0.item
				.item__img
					figure
						.box
							.box-img
								img.img-fluid(src="../img/slider/slider-1.jpg", alt="")
							.box-img1
								img.img-fluid(src="../img/slider/slider-2.jpg", alt="")
